<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routeLink="/home">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">ADMINISTRACION DE LOCALES COMERCIALES</li>
    </ol>
    <!--formulario usuarios-->
    <div class="row">
      <div class="col-sm-8 mx-auto">
        <form (ngSubmit)="onSubmit()" #myForm="ngForm">
          <!-- campo  -->
          <div class="col">Superficie</div>
          <div class="col-10 mb-2">
            <input class="form-control" name="superficie" type="number" placeholder="-" [(ngModel)]="local.superficie" #superficie="ngModel"
              required/>
            <div *ngIf="superficie.invalid && (superficie.dirty || superficie.touched)" class="alert alert-danger">
              La superficie es obligatorio
            </div>
          </div>
          <!--  -->
          <!-- campo  -->
          <div class="col">Habilitado</div>
          <div class="col-10 mb-2">
            <input class="form-control" name="habilitado" type="checkbox" 
            [(ngModel)]="local.habilitado" #habilitado="ngModel"/>
          </div>
          <!--  -->
          <!-- campo  -->
          <div class="col">Costo Mes</div>
          <div class="col-10 mb-2">
            <input class="form-control" name="costomes" type="number" placeholder="$" 
            [(ngModel)]="local.costomes" #costomes="ngModel"
              required/>
            <div *ngIf="costomes.invalid && (costomes.dirty || costomes.touched)" class="alert alert-danger">
              El costo mes es obligatorio
            </div>
          </div>
          <!--  -->
          <!-- campo  -->
          <div class="col">Path Imagen</div>
          <div class="col-10 mb-2">
            <input class="form-control" name="pathimagen" type="text" placeholder="." 
            [(ngModel)]="local.pathimagen" #pathimagen="ngModel"
              required/>
            <div *ngIf="pathimagen.invalid && (pathimagen.dirty || pathimagen.touched)" class="alert alert-danger">
              El path imagen es obligatorio
            </div>
          </div>
          <!--  -->

           <!-- campo  -->
           <div class="col">Alquilado</div>
           <div class="col-10 mb-2">
             <input class="form-control" name="alquilado" type="checkbox" 
             [(ngModel)]="local.alquilado" #alquilado="ngModel"/>
           </div>
           <!--  -->

          <div class="row" *ngIf="!btnactualizar">
            <button type="submit" class="btn btn-primary" [disabled]="!myForm.form.valid || userValid" 
            (click)="save()">Guardar
            </button>
          </div>
          <div class="row" *ngIf="btnactualizar">
            <button class="btn btn-primary" [disabled]="!myForm.form.valid" 
            (click)="update()">Actualizar
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="col-md-8 mx-auto mt-2">
          <table class="table table-striped text-center" [mfData]="array" #mf="mfDataTable" [mfRowsOnPage]="4">
            <thead>
              <tr>
                <th style="width: 10%">
                  <mfDefaultSorter by="superficie">Superficie</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="habilitado">Habilitado</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="costomes">Costo Mes</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="pathimagen">Path Imagen</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="alquilado">Alquilado</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="">Acciones</mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data">
                <td>{{item.propietario.nombres}}</td>
                <td>{{item.local.alquilado}}</td>
                <td>{{item.plazomes}}</td>
                <td>{{item.costoalquiler}}</td>
                <td>{{item.fechaAlquiler}}</td>
                <td>
                  <button class="btn" (click)="elegir(item)">Seleccionar
                  </button>
                  <button class="btn" (click)="eliminar(item)">Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid-->
  <!-- /.content-wrapper-->
  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright © PySW 2018</small>
      </div>
    </div>
  </footer>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>
   <!-- Logout Modal-->
   <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Desea cerrar la sesion?</h5>
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">Seleccione Logout si realmente quiere cerrar la sesion.</div>
    <div class="modal-footer">
      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
      <a class="btn btn-primary" (click)="logout()">Logout</a>
    </div>
  </div>
</div>
</div>
