<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routeLink="/home">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">ADMINISTRACION DE LOCALES COMERCIALES</li>
    </ol>
    <!--formulario usuarios-->
    <div class="row">
      <div class="col-sm-8 mx-auto">
        <form (ngSubmit)="onSubmit()" #myForm="ngForm">
          <!-- campo  -->
          <div class="col">Propietario</div>
          <div class="col-10 mb-2">
            <select [(ngModel)]="alquiler.propietario" name="propietario" #propietarioform="ngModel">
              <option *ngFor="let propietario of propietarios" [ngValue]="propietario">{{propietario.nombres}}</option>
            </select>
            <div *ngIf="propietarioform.invalid && (propietarioform.dirty || propietarioform.touched)" class="alert alert-danger">
              El propietario es obligatorio
            </div>
          </div>
          <!--  -->
          <!-- campo  -->
          <div class="col">Local</div>
          <div class="col-10 mb-2">
            <select [(ngModel)]="alquiler.local"
                    #localcomercial="ngModel"
                    name="local">
              <option *ngFor="let local of locales" [ngValue]="local">{{local.superficie}}</option>
            </select>
            <div *ngIf="localcomercial.invalid && (localcomercial.dirty || localcomercial.touched)" class="alert alert-danger">
              El Local es obligatorio
            </div>
          </div>
          <!--  -->
          <!-- campo  -->
          <div class="col">Plazo Mes</div>
          <div class="col-10 mb-2">
            <input class="form-control" name="plazomes" type="number" placeholder="-"
            [(ngModel)]="alquiler.plazomes" #plazomes="ngModel"
              required/>
            <div *ngIf="plazomes.invalid && (plazomes.dirty || plazomes.touched)" class="alert alert-danger">
              El plazo Mes mes es obligatorio
            </div>
          </div>
          <!--  -->
          <!-- campo  -->
          <div class="col">Costo Alquiler</div>
          <div class="col-10 mb-2">
            <input class="form-control" name="costoalquiler" type="number" placeholder="$"
            [(ngModel)]="alquiler.costoalquiler" #costoalquiler="ngModel"
              required/>
            <div *ngIf="costoalquiler.invalid && (costoalquiler.dirty || costoalquiler.touched)" class="alert alert-danger">
              El Costo Alquiler es obligatorio
            </div>
          </div>
          <!--  -->

          <!-- campo  -->
            <div class="col">Fecha</div>
              <div class="col-10 mb-2">
                <input class="form-control" name="costoalquiler" type="date" placeholder="--/--/----"
                [(ngModel)]="alquiler.fechaAlquiler" #fechaalquiler="ngModel"
                  required/>
                <div *ngIf="fechaalquiler.invalid && (fechaalquiler.dirty || fechaalquiler.touched)" class="alert alert-danger">
                  El Costo Alquiler es obligatorio
                </div>
              </div>
              <!--  -->

          <div class="row" *ngIf="!btnactualizar">
            <button type="submit" class="btn btn-primary" [disabled]="!myForm.form.valid || userValid"
            (click)="save()">Guardar
            </button>
          </div>
          <div class="row" *ngIf="btnactualizar">
            <button class="btn btn-primary" [disabled]="!myForm.form.valid"
            (click)="update()">Actualizar
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="col-3">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for...">
                <span class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
        </div>
        <div class="col-md-8 mx-auto mt-2">
          <table class="table table-striped text-center" [mfData]="array" #mf="mfDataTable" [mfRowsOnPage]="4">
            <thead>
              <tr>
                <th style="width: 10%">
                  <mfDefaultSorter by="superficie">Propietario</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="habilitado">Local</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="costomes">Plazo Mes</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="pathimagen">Costo Alquiler</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="alquilado">Fecha</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="">Acciones</mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data">
                <td>{{item.propietario.nombres}}</td>
                <td>{{item.local.alquilado}}</td>
                <td>{{item.plazomes}}</td>
                <td>{{item.costoalquiler}}</td>
                <td>{{item.fechaAlquiler}}</td>
                <td>
                  <button class="btn" (click)="elegir(item)">Seleccionar
                  </button>
                  <button class="btn" (click)="eliminar(item)">Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid-->
  <!-- /.content-wrapper-->
  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright © PySW 2018</small>
      </div>
    </div>
  </footer>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>
   <!-- Logout Modal-->
   <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Desea cerrar la sesion?</h5>
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">Seleccione Logout si realmente quiere cerrar la sesion.</div>
    <div class="modal-footer">
      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
      <a class="btn btn-primary" (click)="logout()">Logout</a>
    </div>
  </div>
</div>
</div>
