<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routeLink="/home">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">ADMINISTRACION DE LOCALES COMERCIALES</li>
    </ol>
    <!--formulario usuarios-->
    <div class="row">
      <div class="col-sm-8 mx-auto">
        <form (ngSubmit)="onSubmit()" #myForm="ngForm">
         <!-- campo  -->
         <div class="col">Usuario</div>
         <div class="col-10 mb-2">
           <select [(ngModel)]="novedad.usuario" class="form-control"
           (change)="setUsuario(myForm)"
           name="usuario" #usuarioform="ngModel">
             <option *ngFor="let usuario of usuarios" [ngValue]="usuario">{{usuario.usuario}}</option>
           </select>
           <div *ngIf="usuarioform.invalid && (usuarioform.dirty || usuarioform.touched)" class="alert alert-danger">
             El usuario es obligatorio
           </div>
         </div>
         <!--  -->
          <!-- campo  -->
          <div class="col">Texto</div>
          <div class="col-10 mb-2">
            <input class="form-control" name="texto" type="text" placeholder="descripcion de la novedad" 
            [(ngModel)]="novedad.texto" #textoform="ngModel"
              required/>
            <div *ngIf="textoform.invalid && (textoform.dirty || textoform.touched)" class="alert alert-danger">
              El texto es obligatorio
            </div>
          </div>
          <!--  -->

           <!-- campo  -->
           <div class="col">Estado</div>
           <div class="col-10 mb-2">
             <select name="novedad" class="form-control" title="seleccione..."
             [(ngModel)]="novedad.estado" >
               <option value="pendiente">Pendiente</option>
               <option value="procesado">procesado</option>
             </select>
           </div>
           <!--  -->

          <div class="row" *ngIf="!btnactualizar">
            <button type="submit" class="btn btn-primary" [disabled]="!myForm.form.valid || userValid" 
            (click)="save()">Guardar
            </button>
          </div>
          <div class="row" *ngIf="btnactualizar">
            <button class="btn btn-primary" [disabled]="!myForm.form.valid" 
            (click)="update()">Actualizar
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="col-md-8 mx-auto mt-2">
          <table class="table table-striped text-center" [mfData]="array" #mf="mfDataTable" [mfRowsOnPage]="4">
            <thead>
              <tr>
                <th style="width: 10%">
                  <mfDefaultSorter by="usuario">Usuairo</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="texto">Texto</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="estado">Estado</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="">Acciones</mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data">
                <td>{{item.usuario.usuario}}</td>
                <td>{{item.texto}}</td>
                <td>{{item.estado}}</td>
                <td>
                  <button class="btn" (click)="elegir(item)">Seleccionar
                  </button>
                  <button class="btn" (click)="eliminar(item)">Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid-->
  <!-- /.content-wrapper-->
  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright © PySW 2018</small>
      </div>
    </div>
  </footer>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>
